@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to make the arrow have a smooth pulsing animation */
@keyframes pulse-slow {
  0%, 100% {
    opacity: 0.7;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(-3px);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
